$colors: (
  body-background-grey: #F0F0F0,
  purewhite: #FFFFFF,
  dark-grey: #8C8C8C,
  ligth-grey: #D9D9D9,
  pureblack: #000000,
  error-pink: #F9DEDD,
  error-red: #951C2B,
);

body{
  background-color: map-get($colors, body-background-grey);
  font-family: Arial;
}

.container{
  margin:0 auto;
  max-height: 60vh;
  padding: 5vh;
  background-color: map-get($colors, purewhite);
  box-shadow: 10px 15px 30px 5px map-get($colors, dark-grey);
  border-radius: 15px;
  width: 50vh;
  overflow: scroll;
}

/* SEARCH BAR */
.searchbar{
  display: flex;
  justify-content: space-between;
}

#search{
  width: 80%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid map-get($colors, ligth-grey);
  margin-right: 6px;
}

#button{
  padding: 6px 8px;
  font-weight: 600;
  border: 1px solid map-get($colors, ligth-grey);
}


/* USER INFO */
.user-container{
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  width: 100%;
  height: 120px;
  margin-top: 15px;
}

.avatar-container{
  width: 120px;
  height: 120px;
  
  img {
    width: 100%;  
  }
}

.user-details-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5px;
}

.username{
  font-style: italic;
  font-weight: 100;
  font-size: 20px;
  margin: 0;
}

.name{
  font-size: 25px;
  margin: 0;
}

.bio{
  font-size: 15px;
  width: 85%;
}

/* REPOS */
.repo-title-section{
  padding-bottom: 10px;
  border-bottom: 2px solid map-get($colors, pureblack);
}

.repo-container{
  display: flex;
  width: 100%;
  border-bottom: 1px solid map-get($colors, dark-grey);
}

.repo-details-container{
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;

  p{
    margin-left: 10px;
  }

  i{
    margin-left: 5px;
  }
}

/* error message */
.error-message{
  margin-top: 15px;
  background-color: map-get($colors, error-pink);
  border: 1px solid map-get($colors, error-red);
  color: map-get($colors, error-red);
  border-radius: 5px;
  padding: 15px;
}